<footer class="site-footer">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><h2 class="footer-heading">{{ site.title }}</h2></a>

    <div class="footer-col-wrapper">
    <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ site.baseurl }}/contact.html" title="contact" class="email">email me</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          <!-- Pagination links -->
          {% if paginator.total_pages > 1 %}
          <div class="pagination">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">&#x2190;</a>
            {% else %}
              <span class="previous">&#x2190;</span>&nbsp;
            {% endif %}

            <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }} </span>&nbsp;
            
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">&#x2192;</a>
            {% else %}
              <span class="next ">&#x2192;</span>
            {% endif %}
          </div>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
